@charset "UTF-8";
/* CSS Document */
/* COLORS
Orange: #C47734
Tan: #DAC895
Light Blue: #D6E2E4
Bluish Grey: #A0C9C3
Slate Grey: #464C56
*/

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	box-sizing:border-box;
}

#home-excerpt {
	text-align: center;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}



/* CTA */
.home-cta{
	width: 25%;
	float: left;
	text-align: center;
}

#cta1 {
	background-color: #C47734;
	color: #DAC895;
}

#cta2 {
	background-color: #D6E2E4;
	color: #000000;
}

#cta3 {
	background-color: #DAC895;
	color: #C47734;
}

#cta4 {
	background-color: #464C56;
	color:  #DAC895;
}


#home-news {
	background-color: #DAC895;
	clear: both;
}

/* REPAIR */
#home-repair {
	background-color: #464C56;
	color: #ffffff;
}

#repair-excerpt {
	background-color: #464C56;
	float: left;
	width: 50%;
}
